p {
    font-family: Georgia, serif;
    color: #333333;
}

footer {
    display: block;
    padding: 1em;
    border-top: 1px solid #999999;
    background: #e3e3df;
}

footer a {
    font: italic 0.8em Arial, Helvetica, sans-serif;
    text-decoration:none;
    color: #999999;
}
footer a:link    { }
footer a:visited { }
footer a:hover   { text-decoration:underline;  color: #333333; }
footer a:active  { }


/* Top navigation menu */
nav {
    display: block;
    padding: 0.2em 1em 0 1em;
    background: #e3e3df;
    border-bottom: 2px solid #999999;
}
nav a {
    padding: 0.3em 1em 0 1em;
    color: #555555;
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration:none;
}
nav a:link    { }
nav a:visited { }
nav a:hover   {
    color: #111111;
    background: #999999;
}
nav a:active  { }
