/* Stylesheet with colors appealing to Nene (and other people that like pink-ish colors) */ 

/* Import standard style */
@import url(stylesheet.css);        




body {
        background: #efcdd7;
}

footer {
    background: #d373bf;
}

/* top navigation bar */
nav {
    background: #d373bf;
}

